.add_btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow,
        filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    padding: 1em 2em;
    color: #fff;
    background-color: #3b5284;
}

.add_btn:hover {
    background-color: whitesmoke;
    border-color: #3b5284;
    color: #3b5284;
}
