@font-face {
    font-family: "Poppins-Rg";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Lg";
    src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Md";
    src: url("./assets/fonts/Poppins-Medium.ttf");
}

:root {
    /* line-height: 1.5; */
    font-family: "Poppins-Rg";
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: lightgray;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-family: "Poppins-Md";
    font-size: 2rem;
}

p {
    font-family: "Poppins-Lg";
    font-size: 1.25rem;
}

a {
    font-weight: 500;
    color: #3b5284;
    text-decoration: none;
}
